{% extends "@templates/layout.html.twig" %}

{% block content %}
    <p>Join <b>{{ slack.teamname }}</b> on Slack.</p>
    <p class="status">
    <b class="active">{{ slack.usercount.active }}</b> users online now of <b class="total">{{ slack.usercount.total }}</b> registered.
    </p>

    {{ form_start(form) }}
    <div id="invite_errors_json" class="alert alert-danger" role="alert" hidden></div>
    {{ form_errors(form) }}
    {{ form_widget(form.email, {label: false}) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

    <br>
    <br>
    <p>Current users:</p>
    <i id="spinner" class="fa fa-cog fa-spin"></i>
    <table id="avatars" class="table avatar">
    </table>

    <div id="slackfooter">
        PHP adaption of <a href="http://rauchg.com/slackin" target="_blank">slackin</a>
    </div>
{% endblock %}
